body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url('/Resources/fondo1.jpg'); 
    background-size: cover;
    background-position: center;
    color: #6c648b; 
}

.formulario-iniciosesion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    color: #6c648b; 
}

.formulario label {
    color: #6c648b; 
}

.formulario input[type="email"],
.formulario input[type="password"],
.formulario input[type="submit"],
.formulario input[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario input[type="submit"],
.formulario input[type="button"] {
    background-color: #b19cd9; 
    color: #fff;
    cursor: pointer;
}

.formulario input[type="submit"]:hover,
.formulario input[type="button"]:hover {
    background-color: #917cbf; 
}

